$color-primary: rgb(44, 13, 95);
$color-background: #ced0d3;
$color-chart-background: #040a13;

$font-family: 'Roboto', sans-serif;
$font-size: 13px;

$width-desktop: 768px;
$width-menu-close: 50px;
$width-menu-open: 200px;

$padding-mobile-y: 15px;
$padding-mobile-x: 16px;
$padding-desktop-y: 20px;
$padding-desktop-x: 25px;
$desktop-search-height: 38px;
