$color-primary: #252439;
$color-secondary: #2F2C85;
$color-chart-background: #040a13;
$table-bg: #7E7BC4;
$tr-bg-par:#413DB8;
$tr-hover: #B3CAE8;
$thead-bg: #0E0F17;
$btn-bg: #7E7BC4;

$font-family: 'Roboto', sans-serif;
$font-size: 13px;

$width-desktop: 768px;
$width-menu-close: 50px;
$width-menu-open: 200px;

$padding-mobile-y: 15px;
$padding-mobile-x: 16px;
$padding-desktop-y: 20px;
$padding-desktop-x: 25px;
$desktop-search-height: 38px;
