.box-empty {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: $color-primary;
  .empty-icon {
    width: 35px;
    height: 35px;
    margin: 5px 3px;
    .empty-svg {
      align-items: right;
      color: #c1c1c1;
      width: 25px;
      height: 25px;
      align-content: center;
    }
  }
  .empty-details {
    font-size: 1.3em;
    margin: 5px 3px;
  }
  .button-empty {
    width: auto;
    margin: 10px 0px;
    span {
      display: block !important;
    }
    border-radius: 5px;
  }
}