.canvas-header-top {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
}

.cavas-header-graph {
  display: flex;
  width: 100%;
  height: 45px;
  flex-direction: column;
}
.header-icon-table {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 35px;
}
.header-icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 35px;
}

.header-icon {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $color-primary;
  }
  .header-svg {
    align-items: right;
    color: white;
    width: 20px;
    height: 20px;
    align-content: center;
  }
}

.canvas-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 50px;
  align-items: center;
  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .detail-right {
    padding-right: 40px;
  }
  .detail-number {
    padding: 0px 4px;
    font-size: 1.3em;
  }
  .detail-text {
    padding: 10px;
    font-size: 1.1em;
    flex-wrap: wrap;
    width: 100%;
  }
}

.rotate-in {
  transform: rotateY(180deg) scaleX(1);
  transition: transform .5s;  
}

.rotate-out {
  transform: rotateY(0deg);
  transition: transform .5s;
}

@media screen and (min-width: $width-desktop) {

  .container {
    padding: $padding-desktop-y $padding-desktop-x !important;
  }

  .detail-number {
    font-size: 2.5vw !important;
  }
  .detail-text {
    font-size: 1.3vw !important;
  }

}