.header {
  display: flex;
  align-items: center;

  .title {
    flex-grow: 1;
  }

  button {
    position: fixed;
    bottom: $padding-mobile-y;
    right: $padding-mobile-x;
  }
  .close {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    svg {
      color: white;
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (min-width: $width-desktop) {

  .header {
    button {
      position: relative;
      bottom: auto;
      right: auto;
    }
  }

}