.content {
  margin-top: 35px;
  margin-bottom: 70px;
}
.section {
  display: flex;
  flex-direction: column;
}
.section-header{
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 25px;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0px;
  border-radius: 4px;
  transition: 0.2s;
  background: #0c203a;
  border-bottom: 1px solid #f1f1f1;
  &:hover{
    background: #717171;
  }
  .title {
    font-size: 1.2em;
    color: white;
  }
  .recall {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: #bbb;
    cursor: pointer;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  .rotate-right{
    transform: rotate(90deg);
  }
  .rotate-down{
    transform: rotate(90deg);
  }
  .rotate-up {
    transform: rotate(270deg);
  }
}
.section-body{
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.8s, opacity 0.5s;
  input {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.first-section {
  margin-top: 20px;
  border-top: 1px solid #e1e1e1;
}

.recall-body {
  opacity: 1;
  max-height: 1000px;
  height: 100%;
  visibility: visible;
  margin: 10px 0px 20px;
}