.table {
  overflow-y: auto;
  width: 100%;

  table {
    width: 100%;
    border: none;
    border-spacing: 0;
    background: $color-primary;
  }

  .tr {
    &:nth-child(2n+1) {
      background-color: transparent;
    }

    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
  }
  thead {
    td {
      background-color: $thead-bg;
    }
  }
  tr {
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
  }
  
  td {
    padding: 10px 10px;
  }
}
.td-hidden{
  display: none;
}

.table-box {
  width: 100%;
  height: calc(100% - 45px);
}

.invert-table {
  transform: rotateY(-180deg)
}

@media screen and (min-width: $width-desktop) {
  .td-hidden{
    display: block;
  }
}
